.MessageList {
    background-image: url("../images/defualtChatBg.jpg");
    overflow-y: auto;
    padding: 1rem 0.5rem 0rem;
    height: calc(74.5vh - 28px);
  }

  .Wrapper {
    margin-bottom: 2rem; /* messages distance */
  }