.signImg{
  width: 9rem;
  float: right;
  position: relative;
  right: 13vw;
}
.logInTbl{
  margin: auto;
  width:45vw;
  margin-top: 15vh;
  background-color: aliceblue;
  outline: black;
  border-width: 3px;
}
.transperantBorder{
  border-color: aliceblue;
}
.uNameTr{
  height: 5rem;
}
.uNameDiv{
  white-space: nowrap;
  /* height: 3rem; */
}
.uNameDescriptionTd{
  width:7rem;
}
.logInHeader{
  text-align: center;
  font-size: 3.3rem;
  margin-right: 2vw;
}
.a0marginBtm{
  margin-bottom: 0%;
  
}
.gap{
  width:2vw;
}
.spn{
  position: relative;
  bottom: 0.3rem;
}
.vw12{
  width:12vw;
}
#logIn{
  position: relative;
  left: 13vw;
  width:5rem;
  height: 3rem;
  font-size: 1.5rem;
}
.pLogIn{
  position: relative;
  bottom: 4px;
  right: 2px;
}
.errorTr{
  height: 7vh;
}
.errorTxt{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #dc3545;
}
.spinner-border{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}